.action-container {
  position: relative;
  text-align: center; // Changez le texte aligné à gauche
  padding: 40px;
  background-color: #f8f9fa;
  background-image: url('/assets/images/imgAction.jpg');
  background-size: cover;
  background-position: center;

  width: 100%;
  min-width: 600px;
  height: 400px;
  max-height: 600px;
  margin: 0 auto;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 1;
  }

  .content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start; // Aligner le contenu à gauche
    justify-content: center;
    height: 100%; // Centrer verticalement le contenu
  }

  .back-to-text {
    font-size: 29px;
    color: #fff;
    margin-bottom: 20px; // Espacement entre le texte et les boutons
    position: relative;
    font-weight: bold;

  }

  .btn-group-column {
    display: flex;
    gap: 10px;
  }
}

.btn {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #ff9800;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  margin: 10px;
}

.btn:hover {
  background-color: #8f1007;
  transform: translateY(-3px);
}

.btn-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.btn-group-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}



.delivery-icon::before {
  content: url('/assets/images/delivery50.png');
  display: inline-block;
  width: 20px; // Définir la largeur souhaitée
  height: 20px; // Définir la hauteur souhaitée
}

.pizza-icon::before {
  content: url('/assets/images/pizza64.png');
  width: 20px; // Définir la largeur souhaitée
  height: 20px; // Définir la hauteur souhaitée
}