<app-filters (tabChanged)="applyFilter($event)"></app-filters>

<mat-card class="trinta-card recent-orders-card mb-25 bg-white border-none d-block">
  <mat-card-header>
    <mat-card-title>
      Recent Orders
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="recent-orders-table">
      <div class="table-responsive">
        <div class="search-container">
          <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Search here.."
            class="search-input">
          <span class="search-icon material-icons">search</span>
        </div>
        <table mat-table [dataSource]="dataSource">
          <!-- Columns definitions... -->
          <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef class="text-primary pl-0"> Id </th>
            <td mat-cell *matCellDef="let element" class="text-primary fw-medium pl-0" (click)="selectRow(element.Id)">
              {{element.Id}} </td>
          </ng-container>
          <ng-container matColumnDef="Token">
            <th mat-header-cell *matHeaderCellDef> Token </th>
            <td mat-cell *matCellDef="let element"> {{element.Token}} </td>
          </ng-container>
          <ng-container matColumnDef="Server">
            <th mat-header-cell *matHeaderCellDef> Server </th>
            <td mat-cell *matCellDef="let element"> {{element.Server}} </td>
          </ng-container>
          <ng-container matColumnDef="Created">
            <th mat-header-cell *matHeaderCellDef> Created </th>
            <td mat-cell *matCellDef="let element"> {{element.Created}} </td>
          </ng-container>
          <ng-container matColumnDef="Customer">
            <th mat-header-cell *matHeaderCellDef> Customer </th>
            <td mat-cell *matCellDef="let element"> {{element.Customer}} </td>
          </ng-container>
          <ng-container matColumnDef="Dadress">
            <th mat-header-cell *matHeaderCellDef> D-adress </th>
            <td mat-cell *matCellDef="let element"> {{element.Dadress}} </td>
          </ng-container>
          <ng-container matColumnDef="Ddate">
            <th mat-header-cell *matHeaderCellDef> D-date </th>
            <td mat-cell *matCellDef="let element"> {{element.Ddate}} </td>
          </ng-container>
          <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.Type}} </td>
          </ng-container>
          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">
              <span class="trinta-badge fw-medium d-inline-block Open-status" *ngIf="element.Status.Open">
                {{element.Status.Open}}
              </span>
              <span class="trinta-badge fw-medium d-inline-block Closed-status" *ngIf="element.Status.Closed">
                {{element.Status.Closed}}
              </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="Total">
            <th mat-header-cell *matHeaderCellDef> Total </th>
            <td mat-cell *matCellDef="let element"> {{element.Total}} </td>
          </ng-container>
          <ng-container matColumnDef="Due">
            <th mat-header-cell *matHeaderCellDef> Due </th>
            <td mat-cell *matCellDef="let element"> {{element.Due}} </td>
          </ng-container>
          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button mat-button *ngIf="element.Status.Open" (click)="closeOrder(element.Id)">Close Order</button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row.Id)"
            [class.selected-row]="isRowSelected(row.Id)"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>