/*.full-screen-modal .mat-dialog-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  max-height: 100vh;
  display: block;
  flex-direction: column;
}

.settle-order-title {
  //color: #b91212; // Texte noir pour le titre
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; // Police plus sobre
  padding: 16px;
  margin-bottom: 0;
  background-image: url('/assets/images/settle10.jpg');
  background-size: cover; // Couvre tout l'espace disponible
  background-position: center; // Centre l'image
  color: white; // Couleur du texte
  padding: 20px; // Padding pour agrandir la zone du titre
  text-align: left; // Centre le texte
  font-size: 24px; // Taille de police plus grande
  font-weight: bold; // Texte en gras
  height: 40%;

}

.modal-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-dialog-content {
  flex-grow: 1;
  overflow: auto;
}

.order-summary {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: auto;

  .settle-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    thead {
      tr {
        background-color: #f8f8f8;

        th {
          padding: 10px;
          text-align: left;
          border-bottom: 2px solid #ddd;
          font-size: 16px;
          color: #333;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 10px;
          border-bottom: 1px solid #ddd;
          vertical-align: middle;

          &:first-child {
            .product-info {
              display: flex;
              align-items: center;

              .product-image {
                width: 50px;
                height: 50px;
                border-radius: 5px;
                margin-right: 10px;
              }

              >div {
                display: flex;
                flex-direction: column;

                div {
                  &:first-child {
                    font-weight: bold;
                    margin-bottom: 5px;
                  }

                  &:last-child {
                    font-size: 14px;
                    color: #666;
                  }
                }
              }
            }
          }

          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            text-align: right;
            font-size: 16px;
            color: #333;
          }

          input[type="number"] {
            width: 80px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            text-align: right;
            font-size: 16px;
            color: #333;
          }
        }
      }
    }
  }
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;

  button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffa319; // Ajustez la couleur pour correspondre à votre thème de pizza
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken(#ffa319, 10%);
    }

    &:first-child {
      background-color: #f44336; // Couleur rouge pour le bouton d'annulation

      &:hover {
        background-color: darken(#f44336, 10%);
      }
    }
  }
}*/


.mat-dialog-container {
  width: 90vw;
  height: 80vh;
  margin: 0;
  padding: 0;
  max-width: 90vw;
  max-height: 80vh;
  flex-direction: column;
  background-color: #2c2b2b;


}

.settle-order-title {
  //color: #b91212; // Texte noir pour le titre
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; // Police plus sobre
  padding: 16px;
  margin-bottom: 0;
  background-image: url('/assets/images/settle10.jpg');
  background-size: cover; // Couvre tout l'espace disponible
  background-position: center; // Centre l'image
  color: white; // Couleur du texte
  padding: 20px; // Padding pour agrandir la zone du titre
  text-align: left; // Centre le texte
  font-size: 24px; // Taille de police plus grande
  font-weight: bold; // Texte en gras
  height: 30%;
}

.modal-container {
  display: flex;
  flex-direction: column;
  height: 100%;

}

.mat-dialog-content {
  flex-grow: 1;
  overflow: auto;

}

.order-summary {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Ajout d'une ombre pour donner de la profondeur

  .settle-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    thead {
      tr {
        background-color: #f8f8f8;

        th {
          padding: 10px;
          text-align: left;
          border-bottom: 2px solid #ddd;
          font-size: 16px;
          color: #333;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 10px;
          border-bottom: 1px solid #ddd;
          vertical-align: middle;

          &:first-child {
            .product-info {
              display: flex;
              align-items: center;

              .product-image {
                width: 50px;
                height: 50px;
                border-radius: 5px;
                margin-right: 10px;
              }

              >div {
                display: flex;
                flex-direction: column;

                div {
                  &:first-child {
                    font-weight: bold;
                    margin-bottom: 5px;
                  }

                  &:last-child {
                    font-size: 14px;
                    color: #666;
                  }
                }
              }
            }
          }

          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            text-align: right;
            font-size: 16px;
            color: #333;
          }

          input[type="number"] {
            width: 80px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            text-align: right;
            font-size: 16px;
            color: #333;
          }
        }
      }
    }
  }
}

.summary-section {
  margin-top: 20px;

  .order-summary-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Ajout d'une ombre pour donner de la profondeur
    margin-bottom: 20px;

    h3 {
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: bold;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid #f1f1f1;

        &:last-child {
          border-bottom: none;
        }

        &.total {
          font-weight: bold;
        }

        span {
          font-size: 16px;
          color: #333;

          &:last-child {
            font-weight: bold;
          }
        }
      }
    }
  }

  .coupon-code {
    background-color: #e6faf4;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

    p {
      margin: 0;
      font-size: 16px;
      color: #33a384;

      strong {
        font-weight: bold;
      }
    }
  }
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;

  button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffa319; // Ajustez la couleur pour correspondre à votre thème de pizza
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken(#ffa319, 10%);
    }

    &:first-child {
      background-color: #f44336; // Couleur rouge pour le bouton d'annulation

      &:hover {
        background-color: darken(#f44336, 10%);
      }
    }
  }
}

.coupon-code {
  input {
    height: 56px;
    border-radius: 6px;
    background: #f5f7fa;
    color: var(--blackColor);
    border: 1px solid #f5f7fa;

    padding: {
      left: 20px;
      right: 20px;
    }

    ;

    &::placeholder {
      color: var(--bodyColor);
      transition: var(--transition);
    }

    &:focus {
      &::placeholder {
        color: transparent;
      }
    }
  }

  .mat-mdc-button {
    top: 50%;
    right: 10px;
    height: auto;
    min-width: auto;
    padding: 9px 25px;
    border-radius: 6px;
    //position: relative;
    letter-spacing: 0.16px;
    color: var(--whiteColor);
    transform: translateY(-50%);
    background-color: var(--primaryColor);

    font: {
      size: 16px;
      weight: 600;
      family: var(--headingFontFamily);
    }

    ;
  }
}
