<!--<div class="modal-container">
  <h2 mat-dialog-title class="settle-order-title">Settle Order</h2>

  <mat-dialog-content>
    <div class="order-summary">
      <table class="settle-table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of orderItems">
            <td>
              <div class="product-info">
                <img src="/assets/images/p1.jpg" alt="Pepperoni" class="product-image">
                <div>
                  <div>{{ item.product }}</div>
                  <div>21 Inch</div>
                  <div>Extra Cheese, Extra Pepperoni, Cheese Crust, Added Bacon</div>
                </div>
              </div>
            </td>
            <td>{{ item.price }}$</td>
            <td><input type="number" [(ngModel)]="item.quantity" (input)="updateTotal(item)"></td>
            <td>{{ item.total | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>



  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button>Settle</button>
  </mat-dialog-actions>


</div>-->


<div class="modal-container">
  <h2 mat-dialog-title class="settle-order-title">Settle Order</h2>

  <mat-dialog-content>
    <div class="order-summary">
      <table class="settle-table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of orderItems">
            <td>
              <div class="product-info">
                <img src="/assets/images/p1.jpg" alt="Pepperoni" class="product-image">
                <div>
                  <div>{{ item.product }}</div>
                  <div>21 Inch</div>
                  <div>Extra Cheese, Extra Pepperoni, Cheese Crust, Added Bacon</div>
                </div>
              </div>
            </td>
            <td>{{ item.price }}$</td>
            <td><input type="number" [(ngModel)]="item.quantity" (input)="updateTotal(item)"></td>
            <td>{{ item.total | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="summary-section">
      <div class="order-summary-card">
        <h3>Order Summary</h3>
        <ul>
          <li>
            <span>Grand Total :</span>
            <span>$1641</span>
          </li>
          <li>
            <span>Shipping Charge :</span>
            <span>$120</span>
          </li>
          <li>
            <span>Discount :</span>
            <span>$40</span>
          </li>
          <li>
            <span>Estimated Tax :</span>
            <span>$250</span>
          </li>
          <li class="total">
            <span>Total :</span>
            <span>$2405.00</span>
          </li>
        </ul>
      </div>
      <div class="coupon-code">
        <p>Use coupon code <strong>Trinta-D5</strong> and get 20% discount!</p>
      </div>
    </div>
    <form class="coupon-code position-relative">
      <input type="text" class="d-block w-100" placeholder="Coupon Code..">
      <button mat-button type="button">
        Apply
      </button>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button>Settle</button>
  </mat-dialog-actions>
</div>
